body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* 柔和的蓝白色背景 */
    color: #333; /* 深灰色文字 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.title {
    font-size: 2.5em;
    margin: 10px 0;
}

.subtitle {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}

.download-btn {
    background-color: #4CAF50; /* 柔和的绿色 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.download-btn:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-media {
    margin-top: 40px;
}

.social-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
    color: #0073e6; /* 轻微变色 */
}